/* Helpers */

.visually-hidden:not(:focus):not(:active) {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.off-screen {
  left: -100vw;
  position: absolute;
}

.skip-link {
  background: var(--color-black, #090909);
  color: var(--color-white, #ffffff);
  left: 0;
  padding: .7rem;
  position: fixed;
  opacity: 0;
  top: 0;
  z-index: 10;
  transform: translateY(-1rem);
  transition: transform .2s ease-in-out, opacity .2s ease-in-out;
}

.skip-link:focus {
  opacity: 1;
  transform: translateY(0);
}
